.content {
    position: relative;
    padding-top: 80.59px;
    min-height: 100%;
}

.footer {
    background-color: #01162D;
}

.fs-20 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}