<div [class]="class()">
    <div class="col-auto">
        <div class="p-2">
            <img [src]="imageSource" class="detail-card-img">
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-12">
                <span class="text-danger detail-card-header-text">{{headerText}}</span>
            </div>
            <div class="col-12">
                <span class="detail-card-description">{{description}}</span>
            </div>
        </div>
    </div>
</div>